 @import url('https://fonts.googleapis.com/css2?family=Rubik+Gemstones&display=swap'); 
.container-fluid{
    background-image:linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );

}
.app{
    padding-bottom: 5px;
    margin:0 auto;
}
.form-holder{
     padding-bottom: 1px;
    background-image: radial-gradient(circle farthest-side, #fceabb, #f8b500)!important;
    max-width: 320px!important;
}
h4{
    font-family: 'Rubik Gemstones', cursive;
}
td{
    box-sizing: border-box!important;
    /*border:1px solid gray !important;*/
   /* width: 30px!important;
    height: 30px!important;*/

}
td>button{
    width: 100%!important;
    height: 100%!important;
    border:none!important;
}
